
@model List<Social>;

<section class="instagram_photo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="instagram_photo_iner">
                    @foreach (var item in Model)
                    {
                        @foreach (var item1 in item.Social_Images)
                        {
                            <div class="single_instgram_photo">
                                <img src="img/instagram/@item1.Name"
                                     alt="" />
                                <a href="#"><i class="@(item1.Social_Id == item.Id ? item.Icon : "")"></i></a>
                            </div>
                        }
                    }
                    </div>
            </div>
        </div>
    </div>
</section>